/*Nav Bar*/

/*Titre*/
.titre{
    margin: center;
    margin-top: 30%;
    margin-bottom: 40%;

}
.titre>h1{
    font-size: 10rem;
}

/*Card*/
.card{
    margin: center;
    margin-top: 20%;
    margin-bottom: 40%;
}
.card>h2{
    text-align: center;
    font-size: 500%;
    margin-top: 10%;
    margin-bottom: 5%;
}

.card-text{
    text-align: justify;
}

.card-title{
    text-align: center;
}

.card-subtitle{
    text-align: center;
}

/*Vidéo*/
.video>h2{
    text-align: center;
    font-size: 500%;
}
.video0{
   margin-left: 20%;
    margin-top: 10%;
    margin-bottom: 30%;
}

/*Contact*/