/*header*/

.navbar0 h1{
    font-size: 900%;
}



.section{
    height: 100vh;
    padding-top: 20%;
    padding-bottom: 10%;
}




/*Card*/



.card>h2{
    text-align: center;
    font-size: 500%;
    
    margin-bottom: 5%;
}


/*Vidéo*/

.video>h2{
    text-align: center;
    font-size: 500%;
}


/*Contact*/
.contact{
    margin-top: 10%;
}
