
html {
    scroll-behavior: smooth;
  }


/****header****/

.navbar0 h1{
    font-size: 15vh;
    text-align: center;
   
}

.nav {
    font-size: 5vh;
}

.grosTitre{
    padding-top: 20vh;
}





/****Card****/


/*
.card>h2{
    text-align: center;
    font-size: 500%;    
    margin-bottom: 5%;
}*/

/*
.grosPlan{
    background-color: ;
}*/

p{
    text-align: justify;
}

.grandTitre02{
    text-align: center;
    font-size: 10vh;    
    margin-bottom: 5%;
    margin-top: 5%;
}



/****Vidéo****/

.section{
    height: 100vh;
    padding-top: 10vh;
    padding-bottom: 10vh;
}


.video>h2{
    text-align: center;
    font-size: 8vh;
    padding-top: 6%;
}

.video01{
    padding-top: 50px;
}




/*****Contact****/
.contact{
    margin-top: 10%;
}


/****Bouton up et down****/
.up{
    font-size: 5vh;    
    transform: rotate(-90deg);
    margin: 15px;
    
    
}

.down{
    font-size: 5vh;
    transform: rotate(90deg);
    margin: 15px;
}

.fas{
    color: #6c757d;
}